<app-web-header  currentMenu="about"></app-web-header>
<div class="about_section layout_padding">
         <div class="container">
            <h1>Welcome Admin  </h1>
            <p class="about_text">Please Manage this Website</p>
            <div class="about_section_2">
                <div class="row">
                    <div class="col-lg-6">
                        <h1>Contact Messages</h1>
                    </div>
                   </div>
               <div class="row">
                  <div class="col-lg-6">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Message</th>
                            <th scope="col">Date</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr  *ngFor="let contactMesssage of contactMessageList" >
                            <th scope="row">{{contactMesssage.name}}</th>
                            <th scope="row">{{contactMesssage.email}}</th>
                            <th scope="row">{{contactMesssage.message}}</th>
                            <th scope="row">{{contactMesssage.created_on}}</th>
                          </tr>
                         
                        </tbody>
                      </table>
                  </div>                
               </div>
               <div class="row">
                <div class="col-lg-6">
                    <h1>Business Actions</h1>
                </div>
               </div>
               <div class="row">
                
                <div class="col-lg-6">
                
                    <input type="text" class="form-control" [(ngModel)]="form.title" placeholder="Enter Title"/>                    
                    <textarea  class="form-control"  [(ngModel)]="form.message" placeholder="Message" rows="5" id="comment" name="Message"></textarea>
                    <div class="btn btn-primary " (click)="postContactMessage()">Create</div>
             
                </div>
              
             </div>
               <div class="row">
                
                <div class="col-lg-6">
                    <table class="table table-striped" >
                        <thead>
                          <tr>
                            <th scope="col">Title</th>
                            <th scope="col">description</th>
                         
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody >
                          <tr  *ngFor="let businessAction of businessActionList" >
                             
                            <th scope="row">{{businessAction.title}}</th>
                            <th scope="row">{{businessAction.description}}</th>
                            <th scope="row"><button (click)="deleteBusinessAction(businessAction)" class="btn btn-danger">delete</button></th>
                          </tr>
                         
                        </tbody>
                      </table>

             
                </div>
              
             </div>
            </div>
         </div>
      </div>
      <web-app-footer></web-app-footer>