<app-header fromParent="contact"></app-header>

<div class="form">
    <h1>Contact us</h1>
    <div>
        <input type="text" [(ngModel)]="form.name" placeholder="Enter Name"/>
    </div>
    <div>
        <textarea type="text" [(ngModel)]="form.message" placeholder="Enter Message"></textarea>
    </div>
    <div>
        <button (click)="validateValues()" class="send">Click to send</button>
    </div>
</div>
<button class="btn btn-primary">Sample btn</button>
<div class="card" style="width: 18rem;">
    <img src="https://cdn.pixabay.com/photo/2016/10/26/19/00/domain-names-1772240_960_720.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Sample Title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <!-- square bracket is for sending dynamic value(from variable) -->
<app-alert [errorMessage] ="errorMessage" ></app-alert>
<app-footer (toParent)="recvFunction($event)"></app-footer>